# Distribution
/dist/

# Environment-specific
.env
.env.*

# export-map-generator temporary state files
package.json.state

# Husky artifacts
.husky/_/

# Log files
*.log

# Misc
.DS_Store

# Package manager artifacts
.yarn/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
/coverage/

# User-specific
/.local/
