/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary
coverage/**          linguist-generated
dist/**              linguist-generated
yarn.lock            linguist-vendored
